  
<!-- SOCIAL SHARE BUTTONS TAB -->
<div id="social-share-buttons-tab">
  <i class="fa fa-facebook" title="Facebook" alt="Facebook" onclick="do_facebook();" style="top:0px;"></i>
  <i class="fa fa-twitter" title="Twitter" alt="Twitter" onclick="do_twitter();" style="top:40px;"></i>
  <i class="fa fa-google-plus" title="Google+" alt="Google+" onclick="do_googleplus();" style="top:80px;"></i>
  <i class="fa fa-pinterest-p" title="Pinterest" alt="Pinterest" onclick="do_pinterest();" style="top:120px;"></i>
  <i class="fa fa-tumblr" title="Tumblr" alt="Tumblr" onclick="do_tumblr();" style="top:160px;"></i>
  <i class="fa fa-reddit-alien" title="Reddit" alt="Reddit" onclick="do_reddit();" style="top:200px;"></i>
  <i class="fa fa-linkedin" title="LinkedIn" alt="LinkedIn" onclick="do_linkedin();" style="top:240px;"></i>
  <i class="fa fa-envelope" title="Email" alt="Email" onclick="do_email();" style="top:280px;"></i>
</div>

<script>
    function encode(string) {
        string = encodeURIComponent(string);
        string = string.replace("'",'%27');
        return string;
    }
    function page_url() {
        var string = document.URL;
        string = string.replace("'",'%27');
        return string;
    }
    function page_title() {
        var string = document.title;
        //string = string.replace("'",'%27');
        string = string.replace(/[']/g, '’')
        return string;
    }
    function popupCenter(url,width,height) {
        var left = (screen.width/2)-(width/2);
        var top = (screen.height/2)-(height/2);
        var opts = 'WIDTH=' + width + ',HEIGHT=' + height + ',TOP=' + top + ',LEFT=' + left;
        //var more_opts = 'TOOLBAR=0, TITLEBAR=0, STATUS=0, SCROLLBARS=0, RESIZABLE=0, MENUBAR=0, LOCATION=0';
        window.open(url,'_blank', opts);
    }
	
	function do_facebook() {
        var url = 'https://www.facebook.com/sharer/sharer.php?u=' + page_url();
        popupCenter(url,555,333);
    }
    function do_twitter() {
        var url = 'https://twitter.com/intent/tweet?text=' + page_title() + '&url=' + page_url() + '&related=';
        popupCenter(url,550,440);
    }
    function do_googleplus() {
        var url = 'https://plus.google.com/share?url=' + page_url() + '&t=' + page_title();
        popupCenter(url,400,500);
    }
    function do_pinterest() {
        var url = 'https://pinterest.com/pin/create/button/?url=' + page_url();
        popupCenter(url,800,800);
    }
    function do_tumblr() {
        var url = 'https://www.tumblr.com/share/link?url=' + page_url();
        popupCenter(url,400,500);
    }
    function do_reddit() {
        var url = 'https://www.reddit.com/submit?url=' + page_url();
        popupCenter(url,400,500);
    }
    function do_linkedin() {
        var page_description = "";
        var website_name = "My Cyber Universe";
        var url = 'https://www.linkedin.com/shareArticle?mini=true&url=' + page_url() + '&title=' + page_title() + '&summary=' + encode(page_description) + '&summary=' + encode(website_name);
        popupCenter(url,400,500);
    }
    function do_email() {
        var subject = 'Check out what I found...';
        var options = '?subject=' + subject + '&body=' + page_title() + ' - ' + page_url();
        window.location = 'mailto:' + options;
    }
	</script> 

	